table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #253858;
    box-shadow: 0 4px 25px rgba(252, 219, 135, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #fddb3a;
    padding: 10px 15px;
    text-align: center;
    background-color: #fff9cd;
}

th {
    background-color: #f8b500;
    color: #263238;
    font-weight: 700;
}

button {
    padding: 8px 15px;
    margin: 2px;
    font-weight: 700;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    filter: brightness(95%);
}

#bookingFormContainer form {
    max-width: 600px;
    background: #fff9cd;
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(252, 219, 135, 0.4);
}

#bookingFormContainer form label {
    font-weight: 700;
    color: #253858;
    margin-top: 10px;
    display: block;
}

#bookingFormContainer form input[type="text"],
#bookingFormContainer form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #fddb3a;
    font-weight: 600;
    box-shadow: inset 0 2px 6px rgba(252, 219, 135, 0.4);
}
